a{
	text-decoration: none;
}

ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	text-align: center;
}

body {
	background-image: url(image/O.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
	padding: 0;
}

li {
	padding: 5px;
	text-align: center;
	font-family: Impact;
	border-radius: 6px;
	list-style: none;
	font-size: 20px;
	color: black;
	background: linear-gradient(to right, gray,white,gray);
}

li:hover {
	background: linear-gradient(to right, #89CFF0,pink,#B19CD9);
	color: black;
}

.main-header {
	height: 10vh;
	background: #FFDAE9;
	margin-bottom: 10px;
	text-align: center;
	color: black;
	font-family: bold;
	border: 2px black solid;
	box-shadow: 0 0 10px #9f8260;
}

.main{
	padding: 5px;
	background: lightgreen;
	margin-bottom: 10px;
}

.showcase{
	padding: 100px;
	margin-bottom: 10px;
	text-align: center;
	height: 80vh;
	background-image: url(image/6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 10px #9f8260;
	border: 2px black solid;
}

.main-article{
	height: 50vh;
	background: #FFDAE9;
	box-shadow: 0 0 10px #9f8260;
	border: 2px black solid;
	margin-bottom: 10px;
	padding: 30px;
}

p{
	font-size: 20px;
	text-indent: 50px;
	text-align: justify;
}

pre{
	text-align: center;
	font-size: 25px;
}